<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee job preferences</title>
    <div th:insert="bootstrap-connect:: link"></div>
</head>
<body>

<div th:insert="header :: header-employee"></div>

<div class="container">
    <h1 class="text-center my-sm-3">Job preference</h1>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-5">

                <form th:action="@{saveJobPreference}" th:object="${jobPreference}" method="post">
                    <div class="form-group">
                        <label for="pos">Desired position</label>
                        <input type="text" class="form-control" id="pos" th:value="${jobPreference.desiredPosition}"
                               th:field="*{desiredPosition}">
                    </div>

                    <div class="form-group">
                        <label for="salary">Desired salary(USD)</label>
                        <input type="number" class="form-control" id="salary" aria-describedby="emailHelp"
                               th:value="${jobPreference.salary}" th:field="*{salary}">
                    </div>


                    <div class="form-group">
                        <label>Work schedule:<br></label>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="full" name="full" class="custom-control-input" value="Full-time job"
                                   th:field="*{schedule}" checked>
                            <label class="custom-control-label" for="full">Full-time job</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="part" name="part" class="custom-control-input" value="Part-time job"
                                   th:field="*{schedule}">
                            <label class="custom-control-label" for="part">Part-time job</label>
                        </div>
                    </div>

                    <div><input type="submit" class="btn btn-primary" value="Save changes"/></div>
                </form>
            </div>
        </div>
    </div>

</div>

<div th:insert="bootstrap-connect:: script"></div>
</body>
</html>