<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee job preferences</title>
    <div th:insert="bootstrap-connect:: link"></div>
</head>
<body>

<div th:insert="header :: header-employee"></div>


<div class="container">
    <h1 class="text-center my-sm-3">Foreign language</h1>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-5">

                <form th:action="@{saveLanguage}" th:object="${language}" method="post">
                    <div class="form-group">
                        <label for="pos">Language name:</label>
                        <input type="text" class="form-control" id="pos" th:value="${language.languageName}"
                               th:field="*{languageName}">
                    </div>

                    <div class="form-group">
                        <label>Level:<br></label>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="a1"  class="custom-control-input" value="A1(Beginner)"
                                   th:field="*{level}" checked="">
                            <label class="custom-control-label" for="a1"> A1(Beginner)</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="a2" class="custom-control-input" value="A2(Elementary)"
                                   th:field="*{level}">
                            <label class="custom-control-label" for="a2">A2(Elementary)</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="b1" class="custom-control-input" value="B1(Intermidiate)"
                                   th:field="*{level}">
                            <label class="custom-control-label" for="b1">B1(Intermidiate)</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="b2" class="custom-control-input" value="B2(Upper-intermidiate)"
                                   th:field="*{level}">
                            <label class="custom-control-label" for="b2">B2(Upper-intermidiate)</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="c1" class="custom-control-input" value="C1(Expert)"
                                   th:field="*{level}">
                            <label class="custom-control-label" for="c1">C1(Expert)</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="c2" class="custom-control-input" value="C2(Mastery)"
                                   th:field="*{level}">
                            <label class="custom-control-label" for="c2">C2(Mastery)</label>
                        </div>
                    </div>

                    <div><input type="submit" class="btn btn-primary" value="Save changes"/></div>
                </form>
            </div>
        </div>
    </div>

</div>

<div th:insert="bootstrap-connect:: script"></div>
</body>
</html>