<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Personal employee info</title>
    <div th:insert="bootstrap-connect:: link"></div>
</head>
<body>

<div th:insert="header :: header-employee"></div>

<div class="container">

    <h1 class="text-center my-sm-3">Personal employee info</h1>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-4">

                <form th:action="@{savePersonalInfo}" th:object="${info}" method="post">

                    <div class="form-group">
                        <label for="name">First name</label>
                        <input type="text" class="form-control" id="name" th:field="*{name}">
                    </div>


                    <div class="form-group">
                        <label th:for="surname">Surname</label>
                        <input th:type="text" class="form-control" id="surname"
                               th:field="*{surname}">
                    </div>

                    <div class="form-group">
                        <label for="inputDate">Birthday</label>
                        <input type="date" class="form-control" id="inputDate" th:field="*{birthday}">
                    </div>


                    <div class="form-group">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="Female" name="Female" class="custom-control-input" value="Female"
                                   th:field="*{gender}" checked>
                            <label class="custom-control-label" for="Female">Female</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="Male" name="Male" class="custom-control-input" value="Male"
                                   th:field="*{gender}">
                            <label class="custom-control-label" for="Male">Male</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="country">Country</label>
                        <input type="text" class="form-control" id="country" th:value="${info.country}"
                               th:field="*{country}">
                    </div>

                    <div class="form-group">
                        <label for="city">City</label>
                        <input type="text" class="form-control" id="city" th:value="${info.city}" th:field="*{city}">
                    </div>

                    <div><input type="submit" class="btn btn-primary" value="Save changes"/></div>
                </form>

            </div>
        </div>
    </div>

</div>

<div th:insert="bootstrap-connect:: script"></div>
</body>
</html>