<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<head>
    <title>Registration page</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="container">

        <a class="navbar-brand" href="#">Negotium</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Show vacancies <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Show resume <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Raise resume <span class="sr-only">(current)</span></a>
                </li>

            </ul>

        </div>
    </div>
</nav>

<div class="container">
    <h2 class="my-sm-3">Registration</h2>
    <p th:text="${message_exists}"></p>


    <form th:action="@{/registration}" th:object="${user}" method="post">
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" th:field="*{username}" aria-describedby="emailHelp"
                   placeholder="Email"
                   required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" th:field="*{password}" placeholder="Password"
                   required>
        </div>

        <div class="form-group">
            <div th:each="role : ${roles}">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" th:field="*{role}" th:value="${role}" class="custom-control-input">
                        <label class="custom-control-label" th:for="${#ids.prev('role')}" th:text="${role.toString().toLowerCase()}"></label>
                    </div>
            </div>
        </div>


        <button type="submit" class="btn btn-primary">Create account</button>
    </form>
</div>


</body>
</html>