<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Resume</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="container">

        <a class="navbar-brand" href="#">Negotium</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Show vacancies <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Show resume <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Raise resume <span class="sr-only">(current)</span></a>
                </li>

            </ul>

        </div>
    </div>
</nav>

<div class="container">

    <div class="card-body border my-sm-3" th:with="persInfo=${resume.personalInfo}">
        <h3 class="card-title">Personal info</h3>
        <div th:if="${persInfo != null}">
            <h4 class="card-subtitle mb-2 text-muted"
                th:text="${persInfo.name}+' '+${persInfo.surname}"></h4>
            <p>
                <strong>Age:</strong>
                <span th:text="${age}">years</span>
            </p>
            <p>
                <strong>Gender:</strong>
                <span th:text="${persInfo.gender}"></span>
            </p>
            <p>
                <strong>Place of living: </strong>
                <span th:text="${persInfo.country}">,</span>
                <span th:text="${persInfo.city}"></span>
            </p>
        </div>
        <a href="#" class="btn btn-primary">Edit</a>
    </div>

    <div class="card-body border my-sm-3" th:with="contact=${resume.contact}">
        <h3 class="card-title">Contact info</h3>
        <div th:if="${contact != null}">
            <p>
                <strong>Phone:</strong>
                <span th:text="${contact.telephone}"></span>
            </p>
            <p>
                <strong>Email:</strong>
                <span th:text="${contact.email}"></span>
            </p>
            <p th:if="${contact.skype!=null}">
                <strong>Skype: </strong>
                <span th:text="${contact.skype}"></span>
            </p>
        </div>
        <a href="#" class="btn btn-primary">Edit</a>
    </div>

    <div class="card-body border my-sm-3" th:with="job=${resume.jobPreference}">
        <h3 class="card-title">Job preference</h3>
            <p th:if="${job.desiredPosition!=null}">
                <strong>Desired position:</strong>
                <span th:text="${job.desiredPosition}"></span>
            </p>
            <p th:if="${job.salary!=0}">
                <strong>Desired salary:</strong>
                <span th:text="${job.salary}"></span>
            </p>
            <p th:if="${job.schedule!=null}">
                <strong>Work schedule:</strong>
                <span th:text="${job.schedule}"></span>
            </p>
        <a href="#" class="btn btn-primary">Edit</a>
    </div>

    <div class="card-body border my-sm-3">
        <h3 class="card-title">Skills</h3>
        <p>
            <span th:if="${resume.skills!=null}" th:text="${${resume.skills}}"></span>
        </p>
        <a href="#" class="btn btn-primary">Edit</a>
    </div>

    <div class="card-body border my-sm-3" th:with="lang=${resume.foreignLanguage}">
        <h3 class="card-title">Foreign language</h3>
        <div th:if="${lang != null}">
            <p>
                <span th:text="${lang.languageName}"></span>
            </p>
            <p>
                <strong>Level: </strong>
                <span th:text="${lang.level}"></span>
            </p>
        </div>
        <a href="#" class="btn btn-primary">Edit</a>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>