<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Skills</title>
    <div th:insert="bootstrap-connect:: link"></div>
</head>
<body>

<div th:insert="header :: header-employee"></div>

<div class="container">
    <h1 class="text-center my-sm-3">Skills</h1>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-4">

                <form th:action="@{/saveSkills}" method="post">
                    <div class="form-group">
                        <label for="skills">Professional skills</label>
                        <input type="text" class="form-control"  id="skills" th:field="*{skills}">
                    </div>

                    <div><input type="submit" class="btn btn-primary" value="Save changes"/></div>
                </form>

            </div>
        </div>
    </div>

</div>

<div th:insert="bootstrap-connect:: script"></div>
</body>
</html>